* {
    font-family: "Lato" !important;
}

.nav {
    width: 500px;
    height: 500px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    position: relative;
    margin-right: 20px;
}
.nav:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.nav:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 100%;
    border-right: 1px solid #3e5edf;
    transition: all 0.5s;
    transition-delay: 0.5s;
}
.nav.active:after {
    top: 0;
}

.radial-nav {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    -webkit-transform-origin: center center;
}
.radial-nav .menu {
    border: none !important;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 100;
    transition: all 0.5s;
    display: table-cell;
    vertical-align: middle;
}
.radial-nav .menu:active {
    -webkit-transform: rotate(-15deg);
}
.radial-nav li:not(.menu) {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s;
    z-index: 1;
}
.radial-nav li:not(.menu).selected {
    -webkit-transform: rotate(0deg) translateX(120px) rotate(0deg);
    border: 1px solid #5151F1;
}
.radial-nav li:not(.menu).selected a {
    opacity: 1;
}
.radial-nav li:not(.menu):before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.radial-nav li:not(.menu) a {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: all 0.5s;
}
.radial-nav.expanded li:not(.menu) {
    border: 1px solid #5151F1;
}
.radial-nav.expanded li:not(.menu):hover {
    background-color: #5151F1;
}
.radial-nav.expanded li:nth-child(1) {
    -webkit-transform: translateY(-120px);
}
.radial-nav.expanded li:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateX(120px) rotate(45deg);
}
.radial-nav.expanded li:nth-child(3) {
    -webkit-transform: translateX(120px);
}
.radial-nav.expanded li:nth-child(4) {
    -webkit-transform: rotate(45deg) translateX(120px) rotate(-45deg);
}
.radial-nav.expanded li:nth-child(5) {
    -webkit-transform: translateY(120px);
}
.radial-nav.expanded li:nth-child(6) {
    -webkit-transform: rotate(135deg) translateX(120px) rotate(-135deg);
}
.radial-nav.expanded li:nth-child(7) {
    -webkit-transform: rotate(180deg) translateX(120px) rotate(-180deg);
}
.radial-nav.expanded li:nth-child(8) {
    -webkit-transform: rotate(225deg) translateX(120px) rotate(-225deg);
}
.radial-nav.expanded li a {
    opacity: 1;
}
.radial-nav.expanded .icon-menu {
    border-color: #5151F1;
    -webkit-transform: rotate(90deg);
}
.radial-nav.expanded .icon-menu:before {
    border-color: #5151F1;
}
.radial-nav.expanded .menu:active {
    -webkit-transform: rotate(15deg) !important;
}

.icon-menu {
    display: inline-block;
    border-top: 3px solid #141444;
    border-bottom: 3px solid #141444;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
}
.icon-menu:before {
    content: "";
    display: inline-block;
    border-bottom: 3px solid #141444;
    width: 100%;
    -webkit-transition: all 0.3s;
}
.icon-menu:hover {
    border-color: #00003A;
}
.icon-menu:hover:before {
    border-color: #00003A;
}

html, body {
    height: 100%;
    background-color: #2d2dc2;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    color: #d1d1d1;
}

.content {
    padding-top: 65px;
    overflow: hidden;
}
.content .item {
    opacity: 0;
    transition: all 0.5s;
    transition-delay: 1.3s;
    position: absolute;
}
.content .item.active {
    opacity: 1;
    position: static;
}
.content .item h1 {
    font-size: 25px;
    margin-bottom: 0.3em;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@import url('https://fonts.googleapis.com/css?family=Quicksand');
#video{
    height:100%;
    width:100%;
    margin:0%;
    padding:0;
}

body{
    overflow:hidden;
    margin:0;
    background:black;
    font-family: 'Quicksand', sans-serif;

}

.displayBox{
    height: 669px;
    width: 890px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#infoDisplay{
    font-family: 'Quicksand', sans-serif;
    height:100%;
    color:color:#454545;
    width:35%;
    overflow-y:auto;
    opacity: 1 !important;
    position: absolute;
    width: 300px;
    height: 450px;
    left: 50px;
    top: 91px;
    background: rgb(0,0,0,0.2);
    transition: 0.5s all;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

li{
    list-style: none;
    text-decoration: none;
    margin-bottom: 25%;
    padding-bottom: 10%;
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-size: 120%;
    font-weight: 300;
    font-family: 'Enriqueta', arial, serif;
    border-bottom: 1px solid white;
    padding-left: 10%;
}

/* Design 1*/
.design1{
    border:none;
    background:#95D3FF;
    color:white;
    cursor:pointer;
    outline:none;
    padding:5%;
    padding-top:1%;
    padding-bottom:1%;
}
.design1:hover{
    opacity:0.8;
}

.begin{
    display:block;
    margin-top: 50%;
    border-bottom: none;
    font-weight: bold;
    font-size: 200%;
}


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.displayInfoLabel{
    width:150px;
}

.container,
.setting{
    overflow:auto;
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #ccc;
}


html::before,
html::after,
body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: .5vmin;
    height: .5vmin;
    border-radius: 50%;
    color: transparent;
}

h1 {
    margin-left: -5%;
    height: 12vmin;
    width: 120vmin;
    display: flex;
    justify-content: center;
    position: relative;
}

h1::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -26vmin;
    left: 29vmin;
    width: 62vmin;
    height: 62vmin;
    border-radius: 50%;
    border: 1.3vmin solid currentColor;
    box-sizing: border-box;
}

em {
    font-family: 'Josefin Sans', sans-serif;
    color: currentColor;
    font-size: 15vmin;
    position: relative;
    font-style: normal;
    width: 20vmin;
    text-align: center;
}

em.planet {
    -webkit-animation: planet-rotate 4s linear infinite;
    animation: planet-rotate 4s linear infinite;
    position: relative;
}

em.planet::before {
    content: "";
    position: absolute;
    top: -.5vmin;
    left: 3.5vmin;
    z-index: -1;
    width: 13vmin;
    height: 13vmin;
    border-radius: 50%;
    background: trasparent;
}

em.planet.left {
    -webkit-transform-origin: 40vmin 5vmin;
    transform-origin: 40vmin 5vmin;
}

em.planet.right {
    -webkit-transform-origin: -20vmin 5vmin;
    transform-origin: -20vmin 5vmin;
}

@-webkit-keyframes planet-rotate {
    to {
        -webkit-transform: rotate(1turn);
    }
}

@keyframes planet-rotate {
    to {
        transform: rotate(1turn);
    }
}
.notFound{
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    text-transform:uppercase;
    position:absolute;
    padding-top: 12%;
}

body,html{
    background:transparent;
    overflow:hidden;
}

.nav{
    position: absolute;
    width: 313px;
    height: 312px;
    text-align: center;
    display: inline-block;
    padding-top: 63px;
    right: -210px;
    top: 152px;
    transition:1s all;
}

.radial-nav.expanded li:not(.menu){
    border: none;
}

.gradient{
    position:absolute;
    right:0;
    opacity:0.6;
    z-index:-1;
}

.icon{
    width:40%;
    transition:1s all;

}

.active-icon{
    width:100%;
    transition:1s all;
    animation: zoomInOut 4s infinite;
}

.reverse{
    transform: rotate(180deg);
}

@keyframes zoomInOut {
    0%   {transform: scale(0.9);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(0.9);}
}

@keyframes spin {
    0%   { transform: rotate(0deg);}
    10%  { transform: rotate(80deg);}
    25% { transform: rotate(-30deg);}
    50% { transform: rotate(-90deg);}
    70% { transform: rotate(30deg);}
    90% { transform: rotate(-20deg);}
    100% { transform: rotate(0deg);}
}

video{
    position:absolute;
    z-index:-3;
}

.line{
    position: absolute;
    width: 120px;
    top: 235px;
    right: 22px;
    transition:1s all;
    animation: spin 4s infinite;
}


#infoDisplay{
    position: absolute;
    display: block;
    opacity: 0;
    z-index:-2;
}


@keyframes moving {
    0%   {margin:0px}
    25% { margin:10px 10px;}
    50% { margin:0px 20px;}
    75% { margin:-10px 0px;}
    100% {margin:0px; }
}

.start-bg{
    background: white;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000000000000;
    width: 100vw;
    height: 100vh;

}
.start-bg img{
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}


#infoDisplay ul{
    margin: 0;
    padding: 0;
}

#infoDisplay ul li{
    padding: 15px;
    margin: 0;
    border: none;
    font-size: 90%;
    padding-bottom: 5px;
}
.begin{
    margin: 0;
    padding:15px;
    font-size: 130%;
}

.test{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.no-padding{
    padding-left:0;
}



.swipeUp{
    animation: down 0.7s linear;
}


@keyframes down {
    0%   {top:0px;opacity: 1;}
    50% { top:1000px;opacity: 0;}
    51% { top:-1000px;opacity: 0;}
    100% {top:0px;opacity: 1}
}

.swipeDown{
    animation: up 0.7s linear;
}


@keyframes up {
    0%   {top:0px;opacity: 1;}
    50% { top:-1000px;opacity: 0;}
    51% { top:1000px;opacity: 0;}
    100% {top:0px;opacity: 1}
}
